{% include head.html %}
<img class="page-not-found-image" src="{{ site.baseurl }}/assets/img/SDG Wheel_Transparent-01.png" alt="Sustainable Development Goals logo" />
<div id="main-content" class="container" role="main">
    <div>
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
</div>
    <div style="text-align: center;">
        <h1>Page not found</h1>
        <p>If you typed the web address, check it is correct.</p>

        <p>If you pasted the web address, check you copied the entire address.</p>

        <p>If the web address is correct or you selected a link or button, contact us if you need to speak to someone about the Sustainable Development Goals (SDGs).</p>
    </div>
</body>
</html>
